body{
    text-align: center;
    font-family: Arial;
    color: blue;
}

#container-title{
    border: 1px solid gray;
    width: 70%;
    margin: 0 auto;
}

#container-header{
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
    width: 70%;
    background-color: lightblue;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    font-size: 35px;
    box-shadow: 4px 7px 12px 0px rgba(0,0,0,0.51);
}